extends layout

block content
  .container-fluid(style='margin-top:1em;')
    .row
      .col-md-3.col-md-offset-9
        form(action='/org/createEmployees', method='POST')
          input.btn.btn-secondary(type='submit', value='Testdaten einfügen')


    .row
      .col-md-6
        h4 1. MitarbeiterIn hinzufügen
        form(action='/org/employee', method='POST')
          fieldset.form-group
            label SVNR
            input.form-control(type='text', name='ssn')
          fieldset.form-group
            label Vorname
            input.form-control(type='text', name='forename')
          fieldset.form-group
            label Nachname
            input.form-control(type='text', name='surname')
          fieldset.form-group
            label Stundensatz
            input.form-control(type='text', name='rate')
          input.form-control.btn.btn-primary(type='submit', value='Hinzufügen')

        h4 3. Stundensatz erhöhen
        if (two_error)
          pre= two_error
        else
          form(action='/org/employee_increase_rate', method='POST')
            fieldset.form-group
              label MitarbeiterIn
              select.form-control(name='ssn')
                each employee in employees
                  option(value=employee.ssn)= employee.surname
            fieldset.form-group
              label Stundensatzerhöhung
              input.form-control(type='text', name='rateIncrement')
            input.form-control.btn.btn-primary(type='submit', value='Hinzufügen')          

      .col-md-6
        h4 2. MitarbeiterIn in der Datenbank
        if (two_error)
          pre= two_error
        else if (employees.length === 0)
          pre keine Mitarbeiter gefunden
        else
          table.table.table-bordered.table-hover
            tr
              th SVNR
              th Vorname
              th Nachname
              th Stundensatz
            each employee in employees
              tr
                td= employee.ssn
                td= employee.forename
                td= employee.surname
                td= employee.rate
    .row
      .col-md-6
        h4 4. MitarbeiterIn zu Abteilung
        if (two_error)
          pre= two_error
        else
          form(action='/org/employee_to_department', method='POST')
            fieldset.form-group
              label MitarbeiterIn
              select.form-control(name='ssn')
                each employee in employees
                  option(value=employee.ssn)= employee.surname
            fieldset.form-group
              label Abteilung
              select.form-control(name='departmentShort')
                each dep in departements
                  option(value=dep.departmentShort)= dep.department
            input.form-control.btn.btn-primary(type='submit', value='Hinzufügen')
      .col-md-6
        h4 5. MitarbeiterInnen in Konstruktion
        if (four_error)
          pre=four_error
        else
          table.table.table-bordered.table-hover
            tr
              th SVNR
            each employee in employees_in_department
              tr
                td= employee.ssn
      
    .row
      .col-md-6
        h4 6. ManagerIn einer Abteilung
        if (two_error)
          pre= two_error
        else
          form(action='/org/department_set_manager', method='POST')
            fieldset.form-group
              label MitarbeiterIn
              select.form-control(name='ssn')
                each employee in employees
                  option(value=employee.ssn)= employee.surname
            fieldset.form-group
              label Abteilung
              select.form-control(name='departmentShort')
                each dep in departements
                  option(value=dep.departmentShort)= dep.department
            input.form-control.btn.btn-primary(type='submit', value='Als Manager setzen') 
        h4 7. Abteilung Entfernen
        form(action='/org/department_remove', method='POST')
          fieldset.form-group
            label Abteilung
            select.form-control(name='departmentShort')
              each dep in departements
                option(value=dep.departmentShort)= dep.department
          input.form-control.btn.btn-primary(type='submit', value='Abteilung Entfernen')
      .col-md-6
        h4 ManagerIn
        table.table.table-bordered.table-hover
          tr
            th MangerIn (SVNR)
            th Abteilung
          each department in departements
            tr
              td= department.ssn 
              td= department.department
    .row
      .col-md-6
        h4 8. MitarbeiterIn mit höchstem Stundensatz
        if (eight_error)
          pre= eight_error
        else if (!expensiveEmployee)
          pre kein Mitarbeiter gefunden
        else
          table.table.table-bordered
            tr
              th SVNR
              th Stundensatz
            tr
              td= expensiveEmployee.ssn
              td= expensiveEmployee.rate
      .col-md-6
        h4 9. MitarbeiterInnen in Projekt 'RevolutionaryProduct'
        if (nine_error)
          pre= nine_error
        else
          table.table.table-bordered
            tr
              th SVNR
            each employee in employees_in_project
              tr
                td= employee.ssn
