extends layout

block content
  .container(style='margin-top:1em;')
    .row
      .col-md-4
        form(action='/products/migration_structure', method='POST')
          input.form-control.btn.btn-secondary(type='submit', value='Produktstruktur Ansicht erstellen')
      .col-md-5
        form(action='/products/migration_average_production_times', method='POST')
          input.form-control.btn.btn-secondary(type='submit', value='Bearbeitungsdauer Ansicht erstellen')
      .col-md-3
        form(action='/products/migrationdown', method='POST')
          input.form-control.btn.btn-secondary(type='submit', value='Ansichten entfernen')

    .row
      .col-md-12
        h4 Auswahl für nachfolgende Abfragen
    .row(style='padding-top:0em')
      .col-md-6
        form.form-control(action='/products', method='GET')
          fieldset.form-group
            label Baugruppe
            select.form-control(name='baugruppe')
              each baugruppe in baugruppen
                if (baugruppe.Baugruppennummer == selected_baugruppe)
                  option(selected='true', value=baugruppe.Baugruppennummer)= baugruppe.Baugruppennummer + ': ' + baugruppe.Bezeichnung
                else
                  option(value=baugruppe.Baugruppennummer)= baugruppe.Baugruppennummer + ': ' + baugruppe.Bezeichnung
          input(type='hidden', name='teil', value=selected_teil)
          input.form-control.btn.btn-primary(type='submit', value='Anzeigen')   
      .col-md-6
        form.form-control(action='/products', method='GET')
          fieldset.form-group
            label Teil
            select.form-control(name='teil')
              each teil in teile
                if (teil.Teilnummer == selected_teil)
                  option(selected='true', value=teil.Teilnummer)= teil.Teilnummer + ': ' + teil.Bezeichnung
                else
                  option(value=teil.Teilnummer)= teil.Teilnummer + ': ' + teil.Bezeichnung
          input(type='hidden', name='baugruppe', value=selected_baugruppe)
          input.form-control.btn.btn-primary(type='submit', value='Anzeigen') 

    .row
      .col-md-6
        h4 1. Strukturstückliste
        if (multilevel_bom_error)
          pre= multilevel_bom_error
        else
          table.table.table-bordered.table-hover
            tr
              th Ebene
              th Element
              th Menge
            each material in multilevel_bom
              tr
                td= material.level
                td= material.element
                td= material.quantity

      .col-md-6
        h4 2. Verwendungsnachweis
        if (part_in_assembly_error)
          pre= part_in_assembly_error
        else
          table.table.table-bordered.table-hover
            tr
              th Baugruppe
              th Menge
            each bg in part_in_assembly
              tr
                td= bg.assembly
                td= bg.quantity


    .row
      .col-md-6
        h4 3. Wie oft wird Teil # #{selected_teil} zur Erstellung von Baugruppe # #{selected_baugruppe} benötigt 
        if (partcount_in_assembly_error)
          pre= partcount_in_assembly_error
        else
          table.table.table-bordered.table-hover
            tr
              th Menge
            tr
              td= partcount_in_assembly || 0
      .col-md-6
        h4 4. Mengenstückliste
        if (quantitative_bom_error)
          pre= quantitative_bom_error
        else
          table.table.table-bordered.table-hover
            tr
              th Element
              th Gesamtmenge
            each material in quantitative_bom
              tr
                td= material.element
                td= material.totalQuantity
    
    .row
      .col-md-6
        h4 5. Elemente mit Fertigungsdaten
        if (parts_with_production_data_error)
          pre= parts_with_production_data_error
        else
          table.table.table-bordered.table-hover
            tr
              th Artikelnummer
            each part in parts_with_production_data
              tr
                th= part.articelNumber


      .col-md-6
        h4 6. Elemente ohne Fertigungsdaten
        if (parts_without_production_data_error)
          pre= parts_without_production_data_error
        else
          table.table.table-bordered.table-hover
            tr
              th Artikelnummer
            each part in parts_without_production_data
              tr
                th= part.articelNumber


    .row
      .col-md-6
        h4 7. Durchschnittliche Bearbeitungsdauer pro Teil
        if (part_average_production_time_error)
          pre= part_average_production_time_error
        else
          table.table.table-bordered.table-hover
            tr
              th Teil
              th Ø Bearbeitungsdauer
            each part in part_average_production_time
              tr
                th= part.partNumber
                th= part.avgProductionTime
        